body{
    background-image: url("../images/1.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    float: right;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 74%;
}

h1{
  float: left;
  font-size: 200%;
  width: 100%;
}

aside{
  float: right;
  font-size: 50%;
  width: 10%;
}

h4{
  font-size: 120%;
  background-color: #DD8D47;
  width: 100%;
  word-spacing: 150px;
  text-align:center;
}

article{
  width:33%;
  text-align: left;
}

h3{
  /* width: 33%; */
}
