body{
    background-image: url("../images/1.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 74%;
    margin-left: 50%;
}

.container{
  width: 100%;
  height: 100%;
  background-color: rgba(61, 60, 59, 0.7);
  position: relative;
}

#header{
  width: 100%;
  background-color: rgba(21, 21, 20, 0.7);
}

#main_title{
  float: left;
  font-size: 185%;
}

#login{
  float: right;
  font-size: 75%;
}

#top_links{
  column-count: 3;
  column-width: 33%;
  font-size: 100%;
  background-color: #CD5B05;
  /* padding: 5px; */
  text-align: center;
  width: 100%;
}

h3{
  font-size: 150%;
}
main{
  font-size: 80%;
  padding-bottom: 60px;
}

#opening_info{
  padding: 15px;
}

#featured_landmarks{
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  column-count: 3;
  column-width: 33%;
  column-gap: 25px;
  text-align: left;
  font-size: 125%;
}

img{
  border: 3px solid #CD5B05;
  border-width: thin;
}

footer{
  bottom: 0;
  height: 60px;
  position: absolute;
  padding: 10px;
}
